/*Emily Vanesa Chisaba Rivera CC1019035292*/

*{
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --color-fondo:#e0e0e0;
    --color-texto:#030703;
    --color-titulo:#8700c5;
    --blanco:#ffffff;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height:100vh;
    background:var(--color-fondo);
    color:var(--color-texto);
}

.sectionFormulario{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:30px;
}

h1{
    color:var(--color-titulo);
    margin-bottom:10px;
}

p{
    margin-bottom:20px;
}

.formulario{
    display:flex;
    flex-direction:column;
    gap:15px;
    background: var(--blanco);
    padding:25px;
    border-radius:10px;
}

.campo{
    display:flex;
    flex-direction:column;
    gap:5px;
}

input,
select{
    padding:8px;
}

button{
    padding:10px;
    cursor:pointer;
}

#resultado{
    margin-top:20px;
    font-weight:bold;
}