/*Emily Vanesa Chisaba Rivera CC1019035292*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}



:root{
    --color-fondo:#efefef;
    --color-formulario:#3f48f5;
    --color-acento:#d9f25d;
    --color-texto:#ffffff;
    --color-texto-oscuro:#3f48f5;
    --color-texto-claro:#474747;
    --color-acento-naranja:rgb(207, 131, 32);
}

html,
body{
    overflow: hidden;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    background: var(--color-fondo);
    color: var(--color-texto);
}

.sectionFormulario{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:60px;
    align-items:center;
    min-height:100vh;
    padding:20px;
}

h1{
    color: var(--color-texto-oscuro);
font-weight:700;
    font-size:5rem;
    line-height:0.9;
    margin-bottom:15px;
}

p{
    color: var(--color-texto-claro);
    margin-bottom:20px;
}

.formulario{
    min-height: 80% ;
    max-height: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    background: var(--color-formulario);
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 10px 30px var(--color-texto-oscuro);
}

.campo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input, select{
    background:white;
    border:none;
    border-radius:20px;
    padding:12px;
    color:var(--color-texto-claro);
    outline:none;
}

input:focus,
select:focus{
    box-shadow:0 0 0 3px var(--color-acento-naranja);
}

button{
    grid-column: 1 / 2;
    justify-self: center;
    background:var(--color-acento);
    color:var(--color-texto-oscuro);
    border:none;
    border-radius:20px;
    padding:15px 40px;
    font-size:1rem;
    font-weight:700;
    cursor:pointer;
    transition:.3s;
    margin-top:20px;
}

button:hover{
    transform:translateY(-3px);
}

#resultado{
    grid-column:2 / -1;
    background:white;
    padding:30px;
    border-radius:30px;
    color:#333;
}

#campoMesada{
    display: none;
}

#datosLaborales{
    display:grid;
    grid-template-columns:inherit;
    gap:10px;

}

/*responsive------------------------------------------------------------*/


@media (min-width:769px){
    body{
        height:100vh;
        overflow:hidden;
        display:block;
    }
}

@media (max-width:768px){
    body{
        overflow-y:auto;
        overflow-x:hidden;
        display:block;
    }

     .sectionFormulario{
    grid-template-columns:1fr;
    padding:15px;
    width:95%;
    }

    .formulario{
        grid-template-columns:1fr;
        width:95%;
        
}
}   
